<%- include('includes/head')%>
<%- include('includes/nav')%>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center my-3">Criar conta ou Entrar</h1>
        <p class="text-center lead">Faça login ou crie sua conta</p>

        <%- include('includes/msg') %>

        <div class="row mt-4">

          <div class="col-lg">
            <h4 class="text-center">Faça seu cadastro</h4>
            <p class="text-center fs-6">Se você ainda não tem conta, crie abaixo</p>

            <form class="form-cadastro" action="/login/register" method="POST">
              <input type="hidden" name="_csrf" value=<%= csrfToken %>>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control mt-2" name="email">
              </div>

              <div class="form-group">
                <label>Senha</label>
                <input type="password" class="form-control mt-2" name="password">
              </div>

              <div class="d-grid gap-2 col-6 mx-auto">
              <button type="submit" class="btn btn-outline-danger mt-2">Criar conta</button>
              </div>
            </form>


          </div>

          <div class="col-lg">
            <h4 class="text-center">Login</h4>

            <form  class="form-login" action="/login/login" method="POST">
              <input type="hidden" name="_csrf" value=<%= csrfToken %>>
              <div class="form-group mt-5">
                <label>Email</label>
                <input type="email" class="form-control mt-2" name="email">
              </div>

              <div class="form-group">
                <label>Senha</label>
                <input type="password" class="form-control mt-2" name="password">
              </div>
              
              <div class="d-grid gap-2 col-6 mx-auto">
              <button type="submit" class="btn btn-outline-danger mt-2">Entrar</button>
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col my-3">
          </div>
        </div>
      </div>

      <div class="col-lg-2"></div>
    </div>
  </div>


<%- include('includes/footer')%>

    